.child,
.inner,
.item {
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 4px;
}
.inner,
.item {
  top: 16px;
}
.inner {
  top: 34px;
}
.button,
.icon {
  position: relative;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 36px;
}
.icon {
  width: 108px;
  height: 108px;
  object-fit: cover;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl);
}
.a,
.black-icon {
  position: relative;
}
.black-icon {
  width: 48px;
  height: 48px;
}
.a {
  text-decoration: none;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.black-parent {
  gap: var(--gap-3xs);
}
.black-group,
.black-parent,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.black-group {
  text-decoration: none;
  gap: var(--gap-3xs);
  color: inherit;
}
.frame-group,
.frame-parent {
  align-self: stretch;
}
.frame-group {
  padding: 0 var(--padding-11xl);
  gap: var(--gap-11xl);
}
.frame-parent {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  gap: var(--gap-559xl);
}
.p {
  margin: 0;
}
.div1 {
  position: relative;
  line-height: 40px;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-31xl);
  font-size: var(--font-size-19xl);
}
.div4 {
  position: relative;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 160px;
}
.vector-icon {
  position: relative;
  width: 1100px;
  height: 3px;
}
.div3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-15xl);
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1100px;
  height: 90px;
  z-index: 0;
}
.div10,
.div11,
.div9 {
  position: absolute;
  margin: 0 !important;
}
.div9 {
  width: 2.55%;
  top: calc(50% - 20px);
  left: 3%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
  z-index: 1;
}
.div10,
.div11 {
  top: 30%;
  left: 35.36%;
  z-index: 2;
}
.div11 {
  left: 68.91%;
  z-index: 3;
}
.div12 {
  top: 30%;
  left: 7%;
  z-index: 4;
}
.div12,
.icon1,
.icon2 {
  position: absolute;
  margin: 0 !important;
}
.icon1 {
  height: 27.78%;
  width: 2.27%;
  top: 35.56%;
  right: 5.55%;
  bottom: 36.67%;
  left: 92.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.icon2 {
  top: 31px;
  left: 1061px;
  width: 27px;
  height: 27px;
  object-fit: cover;
  z-index: 6;
}
.div8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.div14,
.div15,
.div16,
.div17 {
  position: absolute;
  margin: 0 !important;
}
.div14 {
  width: 2.55%;
  top: calc(50% - 20px);
  left: 2.73%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
  z-index: 1;
}
.div15,
.div16,
.div17 {
  top: 30%;
  left: 36%;
  z-index: 2;
}
.div16,
.div17 {
  left: 67.09%;
  z-index: 3;
}
.div17 {
  left: 6.73%;
  z-index: 4;
}
.icon3 {
  height: 27.78%;
  width: 2.27%;
  top: 35.56%;
  right: 5.45%;
  bottom: 36.67%;
  left: 92.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.div19,
.div20,
.div22,
.icon3,
.icon6 {
  position: absolute;
  margin: 0 !important;
}
.div19 {
  width: 2.55%;
  top: calc(50% - 20px);
  left: 2.45%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
  z-index: 1;
}
.div20,
.div22,
.icon6 {
  top: 30%;
  left: 36.09%;
  z-index: 2;
}
.div22,
.icon6 {
  left: 6.36%;
  z-index: 4;
}
.icon6 {
  top: 31px;
  left: 1060px;
  width: 27px;
  height: 27px;
  object-fit: cover;
  z-index: 6;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.div23 {
  position: relative;
  font-size: var(--font-size-7xl);
  font-family: var(--font-montserrat);
  color: var(--color-gray);
  text-align: center;
}
.button1,
.div,
.wrapper {
  display: flex;
  align-items: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 12px 81px;
  background-color: var(--color-gold);
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.div,
.wrapper {
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper {
  align-self: stretch;
  padding: var(--padding-6xl) 0;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  gap: var(--gap-86xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
